header{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
#main-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 300px)); gap: 20px; justify-content: center;
}
#wrapper{
    border: 2px solid lightgray;
}
#categories{
    display: flex;
    gap: 40px;
    justify-content: center;
}
#categories li{
    list-style-type: none;
    background-color: lightblue;
    padding: 5px 10px;
}