*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

body{
    background-color: #f8f8f8;
}

#section-container{
    max-width: 1440px;
    width: 100%;
    margin-inline: auto;
}

/* navigation */
#navbar{
    background-color: rgba(16, 144, 216, 0.1);
    border-radius: 0.5rem;
    padding: 1.25rem 2.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-block: 2rem;
}
#navbar .logo strong{
    font-weight: 900;
    color: rgba(17, 17, 17, 0.8);
    font-size: 3rem;
}
#navbar .logo span{
    letter-spacing: 0.5rem;
    color: rgba(17, 17, 17, 0.6);
    font-size: 2rem;
}
#navbar button{
    background-color: rgba(16, 144, 216, 1);
    border: 0;
    border-radius: 0.5rem;
    font-size: 1.25rem;
    padding: 0.875rem 2.25rem;
    color: white;
    font-weight: bold;
}

/* geometry cards */
.geometry-cards{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;
}
.geometry-cards .card{
    border: 1px solid rgba(17, 17, 17, 0.1);
    border-radius: 0.8rem;
    padding: 3rem 2.5rem;
    text-align: center;
    color: #414141;
    background-color: #fff;
}
.card .image-container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.card h3{
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 2rem;
}
.card p{
    margin-block: 1rem 1.5rem;
}
.card form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
form .input-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
form .input-container label{
    display: flex;
    align-items: center;
}
form .input-container label input{
    border: none;
    border-radius: 4px;
    padding: 6px 12px;
    width: 5rem;
    background-color: #f1f1f1;
    margin-right: 4px;
    font-size: 1rem;
}
form .input-container label input::placeholder{
    color: #414141;
}
form button{
    background-color: rgba(16, 144, 216, 1);
    border: 0;
    border-radius: 0.5rem;
    font-size: 1.25rem;
    padding: 0.75rem;
    color: white;
    font-weight: bold;
    margin-top: 1rem;
}